/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.color-neutral-grey {
  color: #E0E0E0;
}

.custom-btn-success {
  background-color: #2bb34a;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}
.my-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.my-tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: max-content;
  font-size: 12px;
  font-weight: 400;
  min-width: 120px;
  max-width: 400px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 5px 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

.tooltiptext-bottomRight {
  top: 125%;
}

.tooltiptext-topMid {
  bottom: 125%;
  left: -195%;
}

.my-tooltip .tooltiptext-bottomRight::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.my-tooltip .tooltiptext-topMid::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.my-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

html, body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  height: 100%;
  color: #343434;
  background-color: #E0E0E0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none !important;
}

/*--Hacks for making design awesome--*/
.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}

.m-t-1 {
  margin-top: 1%;
}

.m-t-2 {
  margin-top: 2%;
}

.m-t-3 {
  margin-top: 3%;
}

.m-t-5 {
  margin-top: 5%;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-50 {
  margin-left: 50px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-r-60 {
  margin-right: 60px;
}

.display-inline-block {
  display: inline-block;
}

.box {
  border: 1px solid red !important;
}

.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

/*--OG GRID--*/
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

.og-grid {
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}
.og-grid li {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 250px;
  height: 292px;
}
.og-grid li a, .og-grid li img {
  height: 158px;
  width: auto;
  outline: none;
  display: block;
  position: relative;
}

button {
  outline: none !important;
  border-radius: 0;
}

/*--OG grid ends here--*/
/*Shadows Designing*/
.border {
  border: 1px solid rgba(2, 82, 92, 0.1);
}

.no-border {
  border: none !important;
}

.border-left {
  border-left: 1px solid #eee;
}

.border-right {
  border-right: 1px solid #eee;
}

.button-line .border-bottom {
  border-bottom: 1px solid #eee;
}

.v-align-top {
  vertical-align: top !important;
}

.v-align-middle {
  vertical-align: middle !important;
}

.v-align-bottom {
  vertical-align: bottom !important;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-36 {
  font-size: 36px;
}

.font-48 {
  font-size: 48px;
}

.font-60 {
  font-size: 60px;
}

.font-72 {
  font-size: 72px;
}

.f-100 {
  font-weight: 100;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400 !important;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-900 {
  font-weight: 900;
}

.text-orange {
  color: #FF8F00;
}

.text-white {
  color: #ffffff;
}

.text-offWhite {
  color: #FAFAFA;
}

.text-blue {
  color: #00266D;
}

.text-red {
  color: #e53935;
}

.text-silver {
  color: #c0c0c0;
}

.text-darkGrey {
  color: #02110e;
}

.text-black {
  color: #3d3c41;
}

.bg-primary {
  background-color: #ffffff;
}

.bg-orange {
  background-color: #FF8F00;
}

.bg-green {
  background-color: #13ce66;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: #e53935;
}

.bg-offWhite {
  background-color: #FAFAFA;
}

.bg-darkOffWhite {
  background-color: #e5e5e5;
}

.bg-darkNavyBlue {
  background-color: #000b22;
}

.bg-transparentBlack {
  background-color: rgba(43, 43, 43, 0.9) !important;
  transition: all 0.2s ease-in;
}

.bg-material-red {
  background-color: #F44336;
}

.bg-material-pink {
  background-color: #E91E63;
}

.bg-material-purple {
  background-color: #9C27B0;
}

.bg-material-deepPurple {
  background-color: #673AB7;
}

.bg-material-indigo {
  background-color: #3F51B5;
}

.bg-material-blue {
  background-color: #2196F3;
}

.bg-material-lightBlue {
  background-color: #03A9F4;
}

.bg-material-cyan {
  background-color: #00BCD4;
}

.bg-material-teal {
  background-color: #009688;
}

.bg-material-green {
  background-color: #4CAF50;
}

.bg-material-lightGreen {
  background-color: #8BC34A;
}

.bg-material-lime {
  background-color: #CDDC39;
}

.bg-material-yellow {
  background-color: #FFEB3B;
}

.bg-material-amber {
  background-color: #FFC107;
}

.bg-material-orange {
  background-color: #FF9800;
}

.bg-material-deepOrange {
  background-color: #FF5722;
}

.bg-material-brown {
  background-color: #795548;
}

.bg-material-grey {
  background-color: #9E9E9E;
}

.bg-material-grey_900 {
  background-color: #212121;
}

.card {
  background-color: #ffffff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-noHover {
  background-color: #ffffff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-1 {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-6, .custom-btn-success:hover {
  border-radius: 2px;
  -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.28);
}

.card-wrapper {
  padding: 12px;
}

/*--Basic Section Ends here---------------------------------------------------*/
.wrapper-1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.wrapper-2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.wrapper-3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.wrapper-4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.wrapper-5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.rounded {
  border-radius: 1000px;
}

.menu {
  width: 876px;
  position: relative;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 2px solid #FAFAFA;
}

.sticky {
  top: 0;
  position: fixed;
}

.menu2 {
  position: relative;
  margin-top: -70px;
  background-color: #ffffff;
  padding-top: 10px;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sticky2 {
  top: 0;
  margin-top: 0;
  position: fixed !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 768px) {
  .hidden-md {
    display: none !important;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -o-transform: rotate(45deg);
  /* Opera */
  transform: rotate(45deg);
}

.label {
  font-weight: 300;
}

.well5 {
  padding-top: 52px;
  padding-bottom: 85px;
}

.well4 {
  padding-top: 52px;
  padding-bottom: 60px;
}

.custom-card-header {
  font-size: 18px;
  font-weight: 600;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.logo-text {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2B2B2B;
}

.custom-card-links a {
  font-weight: 400;
  font-size: 12px;
  color: #2B2B2B;
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
}
.custom-card-links a:hover {
  opacity: 1;
}

.custom-form-icon {
  position: absolute;
  margin-left: 8px;
  height: 38px;
  display: flex;
  color: #2B2B2B;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}

.custom-form label {
  font-size: 14px;
  color: #2B2B2B;
  opacity: 0.5;
  margin-bottom: 0;
}
.custom-form input {
  opacity: 0.5;
  padding-left: 40px;
}

.logo-text-navbar {
  font-size: 18px;
  letter-spacing: 2px;
  color: #2B2B2B;
  font-weight: 600;
  text-transform: uppercase;
}

.dashboard-navbar {
  z-index: 1;
}
.dashboard-navbar .dropdown-toggle:after {
  display: none;
}
.dashboard-navbar .dropdown-toggle:before {
  display: none;
}

.dashboard-sidebar .dashboard-sidebar-icon {
  display: inline-block;
  width: 60px;
  padding-left: 24px;
}
.dashboard-sidebar .nav-link {
  padding: 0.8rem 1rem;
}
.dashboard-sidebar i {
  font-size: 14px;
  color: #949494;
}
.dashboard-sidebar a {
  color: #2B2B2B;
  font-size: 12px;
  font-weight: 600;
}
.dashboard-sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
